{% extends "base.html" %}

{% block headtitle %}Profile - {{ block.super }}{% endblock %}

{% block container %}

<h1>Profile</h1>

<form method="POST" class="form-horizontal">
  {% csrf_token %}

  {{ form.as_p }}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

  <br>

  <div class="well">
    Add <tt>{{ settings.DEFAULT_FROM_EMAIL }}</tt> to your
    <a href="http://www.amazon.co.uk/manageyourkindle">Kindle Account</a>.
  </div>

</form>

{% endblock %}
