{% extends "base.html" %}

{% block headtitle %}Profile - {{ block.super }}{% endblock %}

{% block container %}

<h1>Profile</h1>

<form method="POST" class="form-horizontal">
  {% csrf_token %}

  {{ form.as_p }}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

  <br>

  <div class="well">
    <h2>Kindle instructions</h2>

    <ul>
      <li>Log into <a href="http://www.amazon.co.uk/manageyourkindle">Manage Your Kindle</a>.</li>
      <li>Click <em>Personal Document Settings</em> on the left hand side</li>
      <li>
        Select <em>Add a new approved e-mail address</em> at the bottom of the
        page and enter <tt>{{ settings.DEFAULT_FROM_EMAIL }}</tt>
      </li>
      <li>
        Copy your Kindle's email address from the <em>Send-to-Kindle E-Mail
        Settings</em> table and enter it into the form above and press <em>Save</em>.
      </li>
    </ul>
  </div>

</form>

{% endblock %}
