{% extends "audiobooks/base.html" %}

{% load humanize %}

{% block title %}{{ author.long_name }} - Audiobooks - {{ block.super }}{% endblock %}

{% block container_title %}
  <a href="{% url "audiobooks:view" author.last_name_first %}">
    {{ author.long_name }}
  </a>
{% endblock %}

{% block container %}

<div class="row">
{% for audiobook in author.books.all %}
{% with audiobook.pk|sign as signed_audiobook_id %}

  {% grid_clearfix xs=2 sm=3 md=4 lg=6 %}

  <div class="{% grid_classes xs=2 sm=3 md=4 lg=6 %} text-center" style="margin-bottom: 20px;">
    <p>
      <a href="{% url "audiobooks:xspf" signed_audiobook_id %}">
        <img
          {% if audiobook.image.exists %}
          src="{{ audiobook.image.thumbnail.url }}"
          {% else %}
          src="{% static "img/f_audiobooks/missing_cover.jpg" %}"
          {% endif %}
          alt="{{ audiobook.title }}"
          class="img-responsive"
          style="margin: 0 auto;"
        >
      </a>
    </p>

    <p>
      <a href="{% url "audiobooks:xspf" signed_audiobook_id %}">
        {{ audiobook.title }}
      </a>
    </p>

    <div class="dropdown">
      <button
        class="btn btn-default btn-sm dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        id="dropdown-{{ audiobook.pk }}"
      >
        Formats <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="{% url "audiobooks:xspf" signed_audiobook_id %}">XSPF</a>
          <a href="{% url "audiobooks:rss" signed_audiobook_id %}">RSS</a>
        </li>
      </ul>
    </div>
  </div>
{% endwith %}
{% endfor %}
</div>

{% endblock %}
