{% extends "base/generic_base.html" %}

{% block body_classes %}{{ block.super }} home-page f_landing{% endblock %}

{% block body %}

<a
  href="https://github.com/lamby/musicdb"
  class="hidden-xs"
>
  <img
    src="{% static "img/f_landing/github.png" %}"
    alt="Fork me on GitHub"
    style="position: absolute; top: 0; left: 0; border: 0; z-index: 999;"
  >
</a>

<br>
<br>
<br>

<div class="container">
  <div class="jumbotron">
    <h1>musicdb</h1>
    <p>
      This is my personal media library which I wrote after being frustrated with
      other solutions using pre-1970s database technology.
      <a href="https://github.com/lamby/musicdb">(Github)</a>
    <p>
      <a class="btn btn-lg btn-primary" href="{% url "auth:login" %}">Login</a>
    </p>
  </div>
</div>

{% endblock %}
