{% extends "base/generic_base.html" %}

{% block body_classes %}{{ block.super }} f_base about-page{% endblock %}

{% block body %}

<div
  class="headline-bg about-headline-bg"
  style="
    background-size: cover;
    background-image: {% block headline_background_image %}none{% endblock %};
  "
></div>

<section class="story-section section section-on-bg">

  <h2 class="title container text-center">
    {% block container_title %}{% endblock %}
  </h2>

  <p class="intro text-center">
    {% block container_subtitle %}{% endblock %}
  </p>

  <div class="story-container container text-center">
    <div class="story-container-inner">
      {% block container %}
        {% block content %}{% endblock %}
      {% endblock %}
    </div>
  </div>
</section>

<footer class="footer">
  <div class="bottom-bar">
    <div class="container">
      <small class="copyright">
        Copyright &copy; 2004&mdash;{% now "Y" %}
        <a href="https://chris-lamb.co.uk/" target="_blank">Chris Lamb</a>
      </small>
    </div>
  </div>
</footer>

{% endblock %}
