<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>{% block title %}Music Database{% endblock %}</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  {% font "Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" %}
  {% font "Roboto+Slab:400,700,300,100" %}

  <link href="{% static "css/musicdb.css" %}" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="{% block body_classes %}f_generic_base{% endblock %}"">
  <header id="header" class="header">
    <div class="container">
      <h1 class="logo">
        <a href="{% url static:landing %}"><span class="logo-icon"></span><span class="text">musicdb</span></a>
      </h1>
      <nav class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item {% block navbar_active_nonclassical %}{% endblock %}"><a href="{% url nonclassical:view %}">Albums</a></li>
            <li class="nav-item {% block navbar_active_classical %}{% endblock %}"><a href="{% url classical:view %}">Classical</a></li>
            <li class="nav-item {% block navbar_active_books %}{% endblock %}"><a href="{% url books:view %}">Books</a></li>
            <li class="nav-item {% block navbar_active_unfiled %}{% endblock %}"><a href="{% url unfiled:view %}" data-no-instant>Unfiled</a></li>

            <li class="nav-item dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
              >Logged in as <strong>{{ request.user.username }}</strong> <i class="fa fa-angle-down"></i></a>

              <ul class="dropdown-menu">
                {% if request.user.is_superuser %}
                <li><a href="{% url superuser:view %}">Superuser</a></li>
                {% endif %}
                <li><a href="{% url profile:view %}">Profile</a></li>
                <li><a href="{% url auth:change-password %}">Change password</a></li>
                <li><a href="{% url auth:logout %}" data-no-instant>Logout</a></li>
              </ul>
            </li>
            {% else %}
              <li class="nav-item nav-item-cta last">
                <a class="btn btn-cta btn-cta-secondary" href="{% url auth:login %}">
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>

  {% if messages %}
    <div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
    </div>
  {% endif %}

  {% block body %}{% endblock %}

</body>

{% block javascript %}
  <script src="{% static "js/musicdb.js" %}"></script>
{% endblock %}

</body>
</html>
