<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>{% block title %}Music Database{% endblock %}</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  {% font "Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" %}
  {% font "Roboto+Slab:400,700,300,100" %}

  <link href="{% static "css/musicdb.css" %}" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="{% block body_classes %}f_generic_base{% endblock %}">

  {% block header %}{% endblock %}

  {% if messages %}
    <div class="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
    </div>
  {% endif %}

  {% block body %}{% endblock %}

{% block script %}
  <script src="{% static "js/musicdb.js" %}" data-no-instant></script>
{% endblock %}

</body>
</html>
