{% extends "books/base.html" %}

{% load humanize %}

{% block headtitle %}{{ author.long_name }} - Books - {{ block.super }}{% endblock %}

{% block container %}


{% if request.user.is_superuser %}
<div class="pull-right">
  <a
    href="{% url books:admin:author author.pk %}"
    class="btn btn-default"
  >Edit</a>
</div>
{% endif %}

<div class="page-header">
  <h1>{{ author.long_name }}</h1>
</div>

<div class="row">
{% for book_author in author.books.all %}
{% with book_author.book as book %}

  {% grid_clearfix xs=2 sm=3 md=4 lg=6 %}

  <div class="{% grid_classes xs=2 sm=3 md=4 lg=6 %} text-center" style="margin-bottom: 20px;">
    <p>
      <a href="{{ book.get_absolute_url }}">
        <img
          {% if book.image.exists %}
          src="{{ book.image.thumbnail.url }}"
          {% else %}
          src="{% static "img/f_books/missing_cover.jpg" %}"
          {% endif %}
          alt="{{ book.title }}"
          class="img-responsive"
          style="margin: 0 auto;"
        >
      </a>
    </p>

    <p>
      <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
      {% if request.user.is_superuser %}
      <a href="{% url books:admin:book book.pk %}">[e]</a>
      {% endif %}
    </p>
  </div>
{% endwith %}
{% endfor %}
</div>

{% endblock %}
