{% extends "base.html" %}

{% load humanize %}

{% block headtitle %}Books - {{ block.super }}{% endblock %}

{% block container %}

<h1>Books</h1>

<p>
  {% for letter in letters %}
    <a href="{% url books:index letter %}">
      {% if letter == "0" %}
        #</a>
      {% else %}
        {{ letter|upper }}</a>
      {% endif %}
  {% endfor %}
</p>

<ul>
{% for author in authors %}
  <li><a href="{% url books:author author.slug %}">{{ author.long_name }}</a></li>
{% endfor %}
</ul>

{% endblock %}
