{% extends "base.html" %}

{% load humanize %}

{% block headtitle %}Books - {{ block.super }}{% endblock %}

{% block container %}

<h1>Books <small>({{ books.count|intcomma }})</small></h1>

{% regroup books by author as by_author %}

{% for elem in by_author %}
  {% with elem.grouper as author %}
  <h3>{{ author.last_name }}{% if author.first_names %}, {{ author.first_names }}{% endif %}</h3>
  {% endwith %}

  <ul>
  {% for book in elem.list %}
    <li><a href="{{ settings.MEDIA_LOCATION_HTTP }}/{{ book.file.location }}">{{ book.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
