{% extends "books/base.html" %}

{% load humanize %}

{% block title %}Books - {{ block.super }}{% endblock %}

{% block container_title %}Books{% endblock %}

{% block container %}

<div class="btn-group btn-group-sm">
  {% for x in letters %}
    <a class="btn btn-default {% if letter == x %}active{% endif %}" href="{% url books:view x %}" data-no-instant>
      {% if x == "0" %}
        #</a>
      {% else %}
        {{ x|upper }}</a>
      {% endif %}
  {% endfor %}
</div>

<div class="clearfix"></div>

<div class="list-group" style="margin-top: 30px;">
{% for author in authors %}
  <a class="list-group-item" href="{% url books:author author.slug %}">{{ author.last_name }}, {{ author.first_names }}</a>
{% endfor %}
</div>

{% endblock %}
