{% extends "books/base.html" %}

{% block headtitle %}Editing author{% endblock %}

{% block container_title %}Editing author: {{ author.long_name }}{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div class="has-error">
  {% for x in form.non_field_errors %}
  <p class="help-block">{{ x }}</p>
  {% endfor %}
</div>
{% endif %}

<form
  method="POST"
  class="form-horizontal"
  action=""
>
  {% csrf_token %}

  <div class="form-group {% if form.errors.last_name %}has-error{% endif %}">
    <label
      for="{{ form.last_name.id_for_label }}"
      class="control-label col-sm-2"
    >
      Last name
    </label>
    <div class="col-sm-10">
      <input
        id="{{ form.last_name.id_for_label }}"
        type="text"
        class="form-control"
        name="{{ form.last_name.html_name }}"
        value="{{ form.last_name.value|default:"" }}"
        required
        maxlength="{{ form.fields.last_name.max_length }}"
        placeholder=""
      >
      {% for x in form.errors.last_name %}
        <p class="help-block">{{ x }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="form-group {% if form.errors.first_names %}has-error{% endif %}">
    <label
      for="{{ form.first_names.id_for_label }}"
      class="control-label col-sm-2"
    >
      First names
    </label>
    <div class="col-sm-10">
      <input
        id="{{ form.first_names.id_for_label }}"
        type="text"
        class="form-control"
        name="{{ form.first_names.html_name }}"
        value="{{ form.first_names.value|default:"" }}"
        required
        maxlength="{{ form.fields.first_names.max_length }}"
        placeholder=""
      >
      {% for x in form.errors.first_names %}
        <p class="help-block">{{ x }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        Save
      </button>
      <a href="{{ author.get_absolute_url }}" class="btn btn-default">
        View
      </a>
    </div>
  </div>
</form>

<p>
  <a href="{% url books:admin:author-merge author.pk %}">Merge another author into this one.</a>
</p>

{% endblock %}
