{% extends "base.html" %}

{% load duration %}

{% block headtitle %}{{ album }} - {{ artist }} - {{ block.super }}{% endblock %}

{% block container %}

<ul class="breadcrumb">
  <li><a href="{% url static:home %}">Home</a> <span class="divider">/</span></li>
  <li><a href="{% url nonclassical %}">Albums</a> <span class="divider">/</span></li>
  <li><a href="{{ artist.get_absolute_url }}">{{ artist }}</a> <span class="divider">/</span></li>
  <li class="active">{{ album }}</li>
</ul>

<br>

<div class="row">
  <div class="span8">
    <h1>{{ album.title }}{% if album.year %} <small>({{ album.year }})</small>{% endif %}</h1>
    <h2><a href="{{ artist.get_absolute_url }}">{{ artist.long_name }}</a></h2>

    {% with album.cds.count as album_cds_count %}
    {% for cd in album.cds.all %}

    <div style="padding-top: 25px">
      {% ifnotequal album_cds_count 1 %}
        CD{{ forloop.counter }}
      {% endifnotequal %}

      <ol style="padding-top: 5px; padding-left: 15px;">
        {% for track in cd.tracks.select_related.all %}
          <li><a href="{% url play-music-file track.music_file_id %}">{{ track }}</a> {{ track.music_file.length|duration }}</li>
        {% endfor %}
      </ol>

      {% ifnotequal album_cds_count 1 %}
        <a href="{% url nonclassical-play-cd cd.id %}" class="btn btn-primary">Play</a>
        {{ cd.total_duration|duration }}
      {% endifnotequal %}
    </div>

    {% endfor %}
    {% endwith %}
  </div>
  <div class="span3">
    {% if album.cover %}

    <ul class="thumbnails">
    <li>
      <a href="{% url nonclassical-play-album album.id %}" class="thumbnail">
        <img src="{{ album.cover.url }}" alt="Play {{ album }}">
      </a>
    </li>
    </ul>
    {% endif %}
  </div>
</div>

<br>

<a href="{% url nonclassical-play-album album.id %}" class="btn btn-primary">Play album</a>
({{ album.total_duration|duration }})

{% with album.previous as previous %}
{% with album.next as next %}
{% if next or previous %}
<div class="row well" style="margin-top: 45px">
  <div class="span5">
    {% if previous %}
     &laquo; <a href="{% url nonclassical-album artist.slug previous.slug %}">{{ previous }}</a>
    {% else %}
     &nbsp;
    {% endif %}
  </div>
  <div class="span6" style="text-align: right">
    {% if next %}
     <a href="{% url nonclassical-album artist.slug next.slug %}">{{ next }}</a> &raquo;
    {% endif %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endwith %}

{% endblock %}
