{% extends "nonclassical/base.html" %}

{% load duration %}

{% block title %}{{ album.title }} - {{ artist.long_name }} - {{ block.super }}{% endblock %}

{% block container_title %}{{ album }}{% endblock %}
{% block container_subtitle %}
  <a href="{{ artist.get_absolute_url }}">{{ artist.long_name }}</a>
{% endblock %}

{% block headline_background_image %}
  url({% if album.image.exists %}{{ album.image.large.url }}{% else %}{% static "img/missing_album_large.jpeg" %}{% endif %})
{% endblock %}

{% block container %}

<div class="row">
  <div class="col-sm-8">
    {% with album.cds.count as album_cds_count %}
    {% for cd in album.cds.all %}

    <div>
      {% if album_cds_count != 1 %}
        CD{{ forloop.counter }}
      {% endif %}

      <ol>
        {% for track in cd.tracks.select_related.all %}
          <li>
            <a class="track" href="{% url common:play-music-file track.music_file_id %}" data-url="{{ settings.MEDIA_LOCATION_HTTP }}/{{ track.music_file.file.location }}">{{ track }}</a>
            <span class="text-muted">{{ track.music_file.length|duration }}</span>
          </li>
        {% endfor %}
      </ol>

      {% if album_cds_count != 1 %}
        <a href="{% url nonclassical:play-cd album.pk cd.pk %}" class="btn btn-primary">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
        {{ cd.total_duration|duration }}
      {% endif %}
    </div>

    {% endfor %}
    {% endwith %}
  </div>
  <div class="col-sm-4 hidden-xs">
    <a href="{% url nonclassical:play-album album.pk %}" class="thumbnail">
      <img src="{% if album.image.exists %}{{ album.image.large.url }}{% else %}{% static "img/missing_album_large.jpeg" %}{% endif %}" alt="Play {{ album }}">
    </a>
  </div>
</div>

<br>

<a href="{% url nonclassical:play-album album.pk %}" class="btn btn-primary">
  <span class="glyphicon glyphicon-play"></span> Play album
</a>
<span class="text-muted">({{ album.total_duration|duration }})</span>

{% with album.previous as previous %}
{% with album.next as next %}
{% if next or previous %}
<div class="row well" style="margin-top: 45px">
  <div class="col-xs-6">
    {% if previous %}
     &laquo; <a href="{% url nonclassical:album artist.slug previous.slug %}">{{ previous }}</a>
    {% else %}
     &nbsp;
    {% endif %}
  </div>
  <div class="col-xs-6 text-right">
    {% if next %}
     <a href="{% url nonclassical:album artist.slug next.slug %}">{{ next }}</a> &raquo;
    {% endif %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endwith %}

{% endblock %}
