{% extends "base.html" %}

{% load duration %}

{% block headtitle %}{{ album }} - {{ artist }} - {{ block.super }}{% endblock %}

{% block javascript %}
  {{ block.super }}

  {% if request.user.is_superuser %}
  <script type="text/javascript">
    $(function() {
      $('#jplayer').jPlayer({
        supplied: 'mp3',
        cssSelectorAncestor: 'nav.player'
      });

      $('.track').on('click', function (e) {
        e.preventDefault();

        $('#jplayer').jPlayer('setMedia', {
            mp3: $(this).data('url'),
        }).jPlayer('play');

        $('nav.player .title').text($(this).text());
      });
    });
  </script>
  {% endif %}
{% endblock %}

{% block container %}

<div class="row">
  <div class="col-sm-8">
    <h1>{{ album.title }}{% if album.year %} <small>({{ album.year }})</small>{% endif %}</h1>
    <h2><a href="{{ artist.get_absolute_url }}">{{ artist.long_name }}</a></h2>

    <br>

    {% with album.cds.count as album_cds_count %}
    {% for cd in album.cds.all %}

    <div>
      {% if album_cds_count != 1 %}
        CD{{ forloop.counter }}
      {% endif %}

      <ol>
        {% for track in cd.tracks.select_related.all %}
          <li>
            <a class="track" href="{% url common:play-music-file track.music_file_id %}" data-url="{{ settings.MEDIA_LOCATION_HTTP }}/{{ track.music_file.file.location }}">{{ track }}</a>
            <span class="text-muted">{{ track.music_file.length|duration }}</span>
          </li>
        {% endfor %}
      </ol>

      {% if album_cds_count != 1 %}
        <a href="{% url nonclassical-play-cd cd.id %}" class="btn btn-primary">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
        {{ cd.total_duration|duration }}
      {% endif %}
    </div>

    {% endfor %}
    {% endwith %}
  </div>
  <div class="col-sm-4 hidden-xs" style="padding-top: 40px;">
    <a href="{% url nonclassical-play-album album.id %}" class="thumbnail">
      <img src="{{ album.image.large.url }}" alt="Play {{ album }}">
    </a>
  </div>
</div>

<br>

<a href="{% url nonclassical-play-album album.id %}" class="btn btn-primary">
  <span class="glyphicon glyphicon-play"></span> Play album
</a>
<span class="text-muted">({{ album.total_duration|duration }})</span>

{% if request.user.is_superuser %}
{% endif %}


{% with album.previous as previous %}
{% with album.next as next %}
{% if next or previous %}
<div class="row well" style="margin-top: 45px">
  <div class="col-xs-6">
    {% if previous %}
     &laquo; <a href="{% url nonclassical-album artist.slug previous.slug %}">{{ previous }}</a>
    {% else %}
     &nbsp;
    {% endif %}
  </div>
  <div class="col-xs-6 text-right">
    {% if next %}
     <a href="{% url nonclassical-album artist.slug next.slug %}">{{ next }}</a> &raquo;
    {% endif %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endwith %}

{% if request.user.is_superuser %}
<nav class="player navbar navbar-fixed-bottom navbar-default">
  <div id="jplayer"></div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#" class="jp-play" style="display: block;"><span class="glyphicon glyphicon-play"></span></a></li>
      <li><a href="#" class="jp-pause" style="display: none;"><span class="glyphicon glyphicon-pause"></span></a></li>
      <li><a href="#" class="jp-stop"><span class="glyphicon glyphicon-stop"></span></a></li>
      <li class="title navbar-text"></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li style="width: 200px;">
        <div class="progress navbar-text" style="width: 100%;">
          <div class="progress-bar jp-play-bar"></div>
        </div>
      </li>
      <li><a href="#" class="jp-mute" title="mute"><span class="glyphicon glyphicon-volume-off"></span></a></li>
      <li><a href="#" class="jp-unmute" title="unmute" style="display: none;"><span class="glyphicon glyphicon-volume-up"></span></a></li>
      <li class="navbar-text">
        <span class="jp-current-time">00:00</span> / <span class="jp-duration">00:00</span>&nbsp;
      </li>
    </ul>
  </div>
</nav>
{% endif %}


{% endblock %}
