{% extends "base.html" %}

{% block headtitle %}{{ artist.long_name }} - {{ block.super }}{% endblock %}

{% block container %}

<h1>{{ artist.long_name }}</h1>

<p><a href="{% url nonclassical-letter artist.name_first %}">&laquo; Back to artist list</a></p>

<br>
<br>

{% for row in albums %}
  <div class="row" style="padding-bottom: 50px; text-align: center;">
    {% for album in row %}
    {% if album %}

    <div class="span4">
      <a href="{% url nonclassical-album artist.slug album.slug %}">
      {% if album.cover %}
      <img src="{{ album.cover.thumbnail.url }}" alt="{{ album }}">
      {% else %}
      <img src="{% static "img/no_album_art.jpg" %}" alt="{{ album }}">
      {% endif %}
      </a>
      <br/>
      <a href="{% url nonclassical-album artist.slug album.slug %}">{{ album.title }}</a>
      {% if album.year %}({{ album.year }}){% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
{% endfor %}

{% with artist.previous as previous %}
{% with artist.next as next %}
  <div class="row">
    <div class="span8">
      {% if previous %}
       &laquo; <a href="{{ previous.get_absolute_url }}">{{ previous }}</a>
      {% endif %}
    </div>
    <div class="span8" style="text-align: right">
      {% if next %}
       <a href="{{ next.get_absolute_url }}">{{ next }}</a> &raquo;
      {% endif %}
    </div>
  </div>
{% endwith %}
{% endwith %}

{% endblock %}
