{% extends "base.html" %}

{% block headtitle %}Albums - {{ block.super }}{% endblock %}

{% block title %}Albums{% endblock %}

{% block content %}

<div class="btn-group btn-group-sm">
  {% for x in letters %}
    <a class="btn btn-default {% if letter == x %}active{% endif %}" href="{% url nonclassical-letter x %}">
      {% if x == "0" %}
        #</a>
      {% else %}
        {{ x|upper }}</a>
      {% endif %}
  {% endfor %}
</div>

<ul class="list-unstyled" style="margin-top: 30px;">
{% for artist in artists %}
  <li><a href="{{ artist.get_absolute_url }}">{{ artist }}</a></li>
{% endfor %}
</ul>

{% endblock %}
