{% extends "base/base.html" %}

{% block headtitle %}Albums - {{ block.super }}{% endblock %}

{% block title %}Albums{% endblock %}

{% block content %}

<div class="btn-group btn-group-xs visible-xs visible-sm">
  {% for x in letters %}
    <a class="btn btn-default {% if letter == x %}active{% endif %}" href="{% url nonclassical-letter x %}">
      {% if x == "0" %}
        #</a>
      {% else %}
        {{ x|upper }}</a>
      {% endif %}
  {% endfor %}
</div>

<div class="btn-group btn-group-sm visible-md">
  {% for x in letters %}
    <a class="btn btn-default {% if letter == x %}active{% endif %}" href="{% url nonclassical-letter x %}">
      {% if x == "0" %}
        #</a>
      {% else %}
        {{ x|upper }}</a>
      {% endif %}
  {% endfor %}
</div>

<div class="btn-group btn-group-md visible-lg">
  {% for x in letters %}
    <a class="btn btn-default {% if letter == x %}active{% endif %}" href="{% url nonclassical-letter x %}">
      {% if x == "0" %}
        #</a>
      {% else %}
        {{ x|upper }}</a>
      {% endif %}
  {% endfor %}
</div>

<div class="clearfix"></div>

<div class="list-group" style="margin-top: 30px;">
{% for artist in artists %}
  <a class="list-group-item" href="{{ artist.get_absolute_url }}">{{ artist }}</a>
{% endfor %}
</div>

{% endblock %}
