Source: musicdb
Section: net
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2

Package: musicdb
Architecture: all
Depends:
  ${misc:Depends},
  ${python:Depends},
  gunicorn (>= 0.14.2),
  pwgen,
  nginx,
  python-boto (>= 2.25),
  python-pygments,
  python-mutagen,
  python-roman,
  python-imaging,
  python-lxml,
  python-progressbar,
Description: musicdb.chris-lamb.co.uk
