[Unit]
Description=musicdb-gunicorn
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always

ExecStart=/usr/share/python/musicdb/bin/gunicorn --workers=4 --log-level=info --preload musicdb.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=true
