#!/usr/bin/make -f

export PYTHONDONTWRITEBYTECODE = 1

%:
	dh $@

override_dh_auto_clean:
	rm -f contrib/*/*.log

override_dh_auto_test:
	musicdb/manage.py test --verbosity=2

override_dh_auto_build:
	debian/bin/generate_hashes media > musicdb/settings/hashes.py
	echo "from roles.live import *" > musicdb/settings/role.py
