{% extends "base/base.html" %}

{% block navbar_active_unfiled %}active{% endblock %}

{% block headtitle %}Unfiled - {{ block.super }}{% endblock %}

{% block title %}
  {% if path %}
    {{ path }}
  {% else %}
    Unfiled classical music
  {% endif %}
{% endblock %}

{% block content %}

<table class="table table-striped">
  {% if path %}
    <tr><td>[<a href=".." data-no-instant>parent</a>]</td></tr>
  {% endif %}

  {% for dirname in dirnames|dictsort:"name" %}
  <tr>
    <td><a href="{% url unfiled:view dirname.path %}" data-no-instant>{{ dirname.name }}</a></td>
  </tr>
  {% endfor %}

  {% for filename in filenames|dictsort:"name" %}
  <tr>
    <td>
      <a href="{{ filename.url }}" data-no-instant>{{ filename.name }}</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
