<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{% block headtitle %}{% endblock %} - Music Database</title>

<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />

<script language="javascript" src="{% static "js/jquery.js" %}"></script>

{% block extrahead %}{% endblock %}
</head>

<body{% block extrabody%}{% endblock %}>

{% block body %}

<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="{% url home %}">Lamby's music database</a>
      <ul class="nav">
        <li class=""><a href="{% url classical-composers %}">Classical</a></li>
        <li class=""><a href="{% url nonclassical %}">Albums</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h1>{% block title %}{% endblock %}</h1>
  <h2>{% block subtitle %}{% endblock %}</h2>

  {% block content %}{% endblock %}
</div>

{% endblock %}

</body>
</html>
