{% extends "base.html" %}

{% block container %}
<div class="jumbotron">
  <h1>Music Database</h1>

  <p>
    {% if request.user.is_authenticated %}
      <a class="btn btn-large btn-primary" href="{% url nonclassical %}">Albums</a>
      <a class="btn btn-large btn-primary" href="{% url classical %}">Classical</a>
      <a class="btn btn-large btn-default" href="{% url common:stats %}">Statistics</a>
    {% else %}
      <a class="btn btn-large btn-primary" href="{% url auth:login %}">Login</a>
    {% endif %}
  </p>
</div>
{% endblock %}
