{% extends "albums/base.html" %}

{% load duration %}

{% block body_classes %}{{ block.super }} f_albums_album{% endblock %}

{% block title %}{{ album.title }} - {{ artist.long_name }} - {{ block.super }}{% endblock %}

{% block container_title %}
  <a href="{{ artist.get_absolute_url }}">
    {{ album.title }}
    {% if album.year %}<small class="text-muted">({{ album.year }})</small>{% endif %}
  </a>
{% endblock %}

{% block container_subtitle %}
  <a href="{{ artist.get_absolute_url }}">{{ artist.long_name }}</a>
{% endblock %}

{% block headline_background_image %}
  {% if album.image.exists %}
  linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url({{ album.image.original.url }})
  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}

<div class="row">
  <div class="col-sm-8">
    {% with album.cds.count as album_cds_count %}
    {% for cd in album.cds.all %}

    <div>
      {% if album_cds_count != 1 %}
        CD{{ forloop.counter }}
      {% endif %}

      <ol>
        {% for track in cd.tracks.select_related.all %}
          <li>
            <a class="track" href="{% url common:play-music-file track.music_file_id %}">
              {{ track.title }}
            </a>
            <small class="text-muted">{{ track.music_file.length|duration }}</small>
          </li>
        {% endfor %}
      </ol>

      {% if album_cds_count != 1 %}
        <a href="{% url albums:play-cd album.pk cd.pk %}" class="btn btn-primary">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
        {{ cd.tracks.total_duration|duration }}
      {% endif %}
    </div>

    {% endfor %}
    {% endwith %}
  </div>
  <div class="col-sm-4 cover">
    <a href="{% url albums:play-album album.pk %}" class="thumbnail">
      <img src="{% if album.image.exists %}{{ album.image.large.url }}{% else %}{% static "img/missing_album_large.jpeg" %}{% endif %}" alt="Play {{ album.title }}">
    </a>
  </div>
</div>

<br>

<a href="{% url albums:play-album album.pk %}" class="btn btn-primary">
  <span class="glyphicon glyphicon-play"></span> Play album
</a>
<span class="text-muted">({{ album.total_duration|duration }})</span>

{% with album.previous as previous %}
{% with album.next as next %}
{% if next or previous %}
<div class="row well" style="margin-top: 45px">
  <div class="col-xs-6">
    {% if previous %}
     &laquo; <a href="{% url albums:album artist.slug previous.slug %}">{{ previous }}</a>
    {% else %}
     &nbsp;
    {% endif %}
  </div>
  <div class="col-xs-6 text-right">
    {% if next %}
     <a href="{% url albums:album artist.slug next.slug %}">{{ next }}</a> &raquo;
    {% endif %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endwith %}

{% endblock %}
