{% extends "albums/base.html" %}

{% block body_classes %}{{ block.super }} f_albums_artist{% endblock %}

{% block title %}{{ artist.long_name }} - {{ block.super }}{% endblock %}

{% block container_title %}
  <a href="{% url albums:view artist.name_first %}">
    {{ artist.long_name }}
  </a>
{% endblock %}

{% block container %}

<div class="team row">
  {% for album in artist.albums.all %}

  {% grid_clearfix xs=2 sm=3 md=4 lg=4 %}

  <div class="member {% grid_classes xs=2 sm=3 md=4 lg=4 %}">
    <a href="{{ album.get_absolute_url }}">
      <img
        class="img-responsive cover"
        src="{% if album.image.exists %}{{ album.image.thumbnail.url }}{% else %}{% static "img/missing_album_medium.jpeg" %}{% endif %}"
        alt="{{ album.title }}"
      >
    </a>

    <div class="member-inner">
      <figure class="profile">

        <figcaption class="info">
          <a class="name" href="{{ album.get_absolute_url }}">
            {{ album.title }}
          </a>

          {% if album.year %}
          <br>
          <span class="job-title">{{ album.year }}</span>
          {% endif %}
        </figcaption>
      </figure>

      <div class="social">
        <ul class="social-list list-inline">
          <li><a
            href="{% url albums:play-album album.pk %}"
          ><i class="fa fa-play"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<br>

{% with artist.previous as previous %}
{% with artist.next as next %}
  <div class="well row">
    <div class="col-xs-6">
      {% if previous %}
       <a class="btn btn-link" href="{{ previous.get_absolute_url }}"><span class="glyphicon glyphicon-chevron-left"></span> {{ previous }}</a>
       {% else %}
       &nbsp;
      {% endif %}
    </div>
    <div class="col-xs-6 text-right">
      {% if next %}
       <a class="btn btn-link" href="{{ next.get_absolute_url }}">{{ next }} <span class="glyphicon glyphicon-chevron-right"></span></a>
      {% endif %}
    </div>
  </div>
{% endwith %}
{% endwith %}

{% endblock %}
