{% extends "classical/base.html" %}

{% load duration %}

{% block title %}{{ work }} - {{ work.composer }} - {{ block.super }}{% endblock %}

{% block container_title %}{{ work }}{% endblock %}
{% block container_subtitle %}
  <a href="{{ work.composer.get_absolute_url }}">{{ work.composer }}</a>
{% endblock %}

{% block container %}

{% for recording in recordings %}

<div class="page-header">
<h3 id="{{ recording.slug }}">
  {{ recording.short_name }}
  <small>
  <a href="{{ recording.get_absolute_url }}">#</a>
  </small>
</h3>
</div>

<div class="row">
  <div class="col-sm-9">
    {% if recording.movements.count > 1 %}
      <ul style="list-style-type: upper-roman">
      {% for movement in recording.movements.all %}
        {{ movement.section_title }}
        <li>
          <a href="{% url common:play-music-file movement.music_file_id %}">{{ movement }}</a>
          <small>{{ movement.music_file.length|duration }}</small>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    <ul>
    {% for performance in recording.performances.all %}
    {% with performance.get_subclass as subclass %}
      {% if performance.subclass == "artist" %}
        <li><a href="{{ subclass.artist.get_absolute_url }}">{{ subclass.artist.short_name }}</a> ({{ subclass.instrument|lower }})</li>
      {% else %}
        <li><a href="{{ subclass.ensemble.get_absolute_url }}">{{ subclass.ensemble }}</a></li>
      {% endif %}
    {% endwith %}
    {% endfor %}
    </ul>
  </div>
  <div class="col-sm-3">
    <dl>
      <dt>Duration</dt>
      <dd>{{ recording.movements.total_duration|duration }}</dd>

      {% if recording.year %}
      <dt>Recorded</dt>
      <dd>{{ recording.year }}</dd>
      {% endif %}
    </dl>

    <p>
      <a href="{% url classical:play-recording recording.pk %}" class="btn btn-primary">
        <span class="glyphicon glyphicon-play"></span> Play
      </a>
    </p>
  </div>
</div>

{% endfor %}

{% if work.source_relations.exists or work.derived_relations.exists %}
<hr/>

<h4>Related works</h4>
<ul>
{% for rel in work.source_relations.all %}
  <li>
    {% if rel.derived.composer != work.composer %}
      <a href="{{ rel.derived.composer.get_absolute_url }}">{{ rel.derived.composer }}</a> -
    {% endif %}
    <a href="{{ rel.derived.get_absolute_url }}">{{ rel.derived }}</a>
    ({{ rel.source_nature }})
  </li>
{% endfor %}
{% for rel in work.derived_relations.all %}
  <li>
    {% if rel.source.composer != work.composer %}
      <a href="{{ rel.source.composer.get_absolute_url }}">{{ rel.source.composer }}</a> -
    {% endif %}
    <a href="{{ rel.source.get_absolute_url }}">{{ rel.source }}</a>
    ({{ rel.derived_nature }})
  </li>
{% endfor %}
</ul>
{% endif %}

<hr/>

{% with work.previous as previous %}
{% with work.next as next %}
{% if next or previous %}
<br/>
<br/>

<div class="row well">
  <div class="col-xs-6">
    {% if previous %}
     &laquo; <a href="{{ previous.get_absolute_url }}">{{ previous }}</a>
    {% else %}
     &nbsp;
    {% endif %}
  </div>
  <div class="col-xs-6 text-right">
    {% if next %}
     <a href="{{ next.get_absolute_url }}">{{ next }}</a> &raquo;
    {% endif %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endwith %}

{% endblock %}
