.f_nonclassical_artist .story-section .team .member .social {
  top: 27%;
}

.f_nonclassical_artist .cover {
  padding-top: 20px;
}

.f_nonclassical_artist .story-section .team .member .profile .info {
  padding: 15px 10px;
}
