.f_nonclassical_artist .story-section .team .member .social {
  top: 27%;
}

.f_nonclassical_artist .cover {
  padding-top: 10px;
}

.f_nonclassical_artist .story-section .team .member .profile .info {
  padding: 15px 10px;
}

.f_nonclassical_artist .story-section .team .member .profile .name {
  color: #fff;
  font-size: 15px;
}

.f_nonclassical_artist .story-section .team .member .profile .name:hover {
  text-decoration: none;
}

.f_nonclassical_artist .story-section .team .member .profile .job-title {
  font-size: 13px;
}
